.mat-column-select {
  flex: 0 0 auto;
  padding-right: 24px;
}

.mat-column-rank,
.mat-column-word,
.mat-column-action {
  flex: 1 1 0;
}

.mat-column-translation {
  flex: 2 2 0;
}

.mat-column-example {
  flex: 3 3 0;
}

.mat-table {
  overflow-x: auto;
}

mat-row.example-sentences {
  flex-basis: 0;
  min-height: initial;
}

.mat-row,
.mat-header-row {
  min-width: 800px;
}

textarea {
  width: 100%;
}

.example-sentences-details {
  overflow: hidden;
  display: flex;
}

.example-sentences-details.collapsed {
  max-height: 0px;
  transition: max-height 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.example-sentences-details.expanded {
  max-height: fit-content;
  transition: max-height 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.example-sentences-row mat-cell {
  border-bottom-width: 0;
}
