<div *ngIf="dataSource.data.length > 0">
    <input type="submit" value="Export selected to CSV" (click)="exportSelectedToCSV()">
    <mat-table class="notes-table mat-elevation-z8" [dataSource]="dataSource">

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rank">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let note">{{note.rank | rank}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="word">
            <mat-header-cell *matHeaderCellDef>Word</mat-header-cell>
            <mat-cell *matCellDef="let note">{{note.word}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let note">
                <input type="submit" value="Translate" (click)="translate(note)">
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="translation">
            <mat-header-cell *matHeaderCellDef>Translation</mat-header-cell>
            <mat-cell *matCellDef="let note">{{note.translation}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="example">
            <mat-header-cell *matHeaderCellDef>Example</mat-header-cell>
            <mat-cell *matCellDef="let note">{{note.sentence | trim:note.word}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
</div>