<div *ngIf="dataSource.data.length > 0">
    <button mat-button [disabled]="isNothingSelected()" (click)="exportSelected('csv')" class="exportButton">Export
        selected to CSV</button>
    <button mat-button [disabled]="isNothingSelected()" (click)="exportSelected('anki')" class="exportButton">Export
        selected to Anki</button>
    <mat-table class="notes-table mat-elevation-z8" [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rank">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Rank</mat-header-cell>
            <mat-cell *matCellDef="let note">{{note.rank | rank}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="word">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Word</mat-header-cell>
            <mat-cell *matCellDef="let note">{{note.word}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let note">
                <input type="submit" value="Translate" (click)="translate(note)">
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="translation">
            <mat-header-cell *matHeaderCellDef>Translation</mat-header-cell>
            <mat-cell *matCellDef="let note"><textarea [(ngModel)]="note.translation" cdkTextareaAutosize></textarea>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="example">
            <mat-header-cell *matHeaderCellDef>Example</mat-header-cell>
            <mat-cell *matCellDef="let note">
                <div [innerHTML]="note.sentence | trim:note.word | highlight:note.word"></div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"
        showFirstLastButtons></mat-paginator>
</div>
<div *ngIf="dataIsLoading">
    <mat-spinner></mat-spinner>
</div>