<mat-table class="words-table mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="rank">
        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
        <mat-cell *matCellDef="let word">{{word.rank}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="word">
        <mat-header-cell *matHeaderCellDef>Word</mat-header-cell>
        <mat-cell *matCellDef="let word">{{word.word}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="translation">
        <mat-header-cell *matHeaderCellDef>Translation</mat-header-cell>
        <mat-cell *matCellDef="let word">{{word.translation}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>