<mat-table class="words-table mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="rank">
        <div *matHeaderCellDef>#</div>
        <div *matCellDef="let word">{{word.rank}}</div>
    </ng-container>

    <ng-container matColumnDef="word">
        <div *matHeaderCellDef>Word</div>
        <div *matCellDef="let word">{{word.word}}</div>
    </ng-container>

    <ng-container matColumnDef="translation">
        <div *matHeaderCellDef>Translation</div>
        <div *matCellDef="let word">{{word.translation}}</div>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>