<mat-form-field appearance="outline">
    <mat-label>Paste text here (so far only English is supported)</mat-label>
    <textarea [(ngModel)]="text" name="text" matInput cdkTextareaAutosize cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="20"></textarea>
    <div class="buttons">
        <button [disabled]="!text" mat-raised-button (click)="text=''" class="button-clear">Clear</button>
        <button [disabled]="!text" mat-raised-button (click)="onSubmit()" class="button-submit">Submit</button>
    </div>
</mat-form-field>
<mat-form-field class="filter">
    <mat-label>Skip n most popular words</mat-label>
    <input type="number" [(ngModel)]="nMostPopular" matInput class="filter">
</mat-form-field>