<mat-form-field appearance="outline">
    <mat-label>Paste text here (so far only English is supported)</mat-label>
    <textarea [(ngModel)]="text" name="text" matInput cdkTextareaAutosize cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="20"></textarea>
    <div class="buttons">
        <button [disabled]="!text" mat-raised-button (click)="text=''" class="button-clear">Clear</button>
        <button mat-raised-button (click)="onSubmit()" class="button-submit">Submit</button>
    </div>
</mat-form-field>